<h1> Hello </h1>
<form action="/home" method="GET">
  <select name="destination">
    <option>Denmark</option>
    <option>Santorini</option>
    <option>Sri Lanka</option>
  </select>
  <select name="guests">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
    <option>9</option>
    <option>10</option>
  </select>
  <button type="submit">Search</button>
</form>



<div>
  <h1>Available Hotels</h1>
  <!-- //TODO display no availble hotels for your search  -->
  <!-- <% if (typeof errorMessage !== 'undefined') { %>
  <h4 style="color: red"><%=errorMessage%></h4>
  <% } %>
  <div> -->
  <% hotels.forEach((hotel) => { %>
  <div>
    <div>
      <h5><%= hotel.name %></h5>
      <h5><%= hotel.guests %></h5>
      <h5><%= hotel.pricePerNight %></h5>
      <h5><%= hotel.location %></h5>
      <img src=" <%=hotel.image%> " alt="<%=hotel.name %>">
    </div>
    <form action="/reserve/<%- hotel.id %>" method="POST">
      <input type="submit" name="reservation" value="<%- hotel.id %>">
    </form>
  </div>
</div>
<% }) %>
</div>
</div>
<!-- <article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article>

<article>
  <img />
  <p></p>
  <p></p>
</article> -->