<div class="home-wrapper">
  <h1> Where would you like to stay with me? </h1>
  <div class="search-hotel">
    <form action="/home" method="GET">
      <select class="destination" name="destination">
        <option class="country">Denmark</option>
        <option class="country">Santorini</option>
        <option class="country">Sri Lanka</option>
      </select>
      <label class="guests"> Guests
        <select name="guests">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </label>
      <button type="submit" class="search-btn">Search</button>
    </form>
  </div>
  <div class="container">
    <h2 class="available-header">Available Hotels</h2>
    <div class="row mb-5 mt-5 results-hotel">
      <div class="col-4 ">
        <% if (hotels[0]) { %>
        <% hotels.forEach((hotel) => { %>
        <img class="hotel-img img-thumbnail" src=" <%=hotel.image%> " alt="<%=hotel.name %>">
      </div>
      <div class="col-8">
        <h2><%= hotel.name %></h2>
        <h3><%= hotel.location %></h3>
        <p> Price per night: $<%= hotel.pricePerNight %></p>
        <div class="reservation-hotel">
          <form action="/reserve/<%- hotel.id %>" method="POST">
            <input type="date" name="startDate">
            <label class="nights">Nights
              <select name="nights">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </label>
            <button class="reserve-btn" onclick=<%- hotel.id %>> Reserve </button>
          </form>
        </div>
      </div>
    </div>
    <div>
      <% }) %>
      <%} else { %>
      <p> Sorry there are not available bookings </p>
      <% } %>
    </div>
  </div>