<h1> Your reservation is successful </h1>

<p> <%= booking.date %></p>
<p> <%= booking.amount %></p>
<div>
  <p><%= hotel.name %> </p>
  <p><%= hotel.guests %> </p>
  <p><%= hotel.pricePerNight %> </p>
  <p><%= hotel.location %> </p>
  <img src=" <%=hotel.image%> " alt="<%=hotel.name %>">
</div>
<button> <a href="/home"> Home </a></button>