<p> Hello <%= username %>!</p>
<h1 class="bg-primary">My Bookings</h1>
<% bookings.forEach(booking => { %>
<p> <%= booking.date %></p>
<p> <%= booking.amount %></p>
<div>
  <p><%= booking.hotel.name %> </p>
  <p><%= booking.hotel.guests %> </p>
  <p><%= booking.hotel.pricePerNight %> </p>
  <p><%= booking.hotel.location %> </p>
  <img src=" <%= booking.hotel.image%> " alt="<%= booking.hotel.name %>">
</div>
<form action="/home/<%- booking.id %>/delete" method="POST">
  <button>Delete</button>
</form>
<% }) %>
<button> <a href="/home"> Next</a></button>